
#search-bar {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
#search {
    text-align: center;
}

li {
    list-style: none;
}

.individual-folder {
    width: 250px;
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 15px;
    height: 120px;
    overflow: hidden;
    margin-left: 43px;
}

#all-folders {
    align-content: center;
    margin-left: 15%;
}

h2 {
    text-align: center;
}

.fa {
  margin-top: 10px;
}
