{% extends 'base.html' %}
{% block title %}
<title>ToDo</title>

{% load static %}

<link rel="stylesheet" href="{% static 'votingsystem/add-todo.css' %}" type="text/css">

{% endblock %}


{% block body %}
<div class='container add-todo'>
  <h2>Add a Todo to this folder</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
  </form>
</div>

<div class="all-todos container">
  {% for todo in todos %}
<div class="individual-todo">
  <a class="col-sm-1 eliminate-todo"href="delete/{{ todo.id }}"><span class="glyphicon glyphicon-check"></span></a><p style="font-size:16px"class="col-md-auto todo-info"> <b>{{ todo.name }}</b><span style="display:inline-block; width: 50px;"></span>
<i>{{ todo.note }}</i></p>
</div>
  {% endfor %}

</div>

  {% endblock %}

{% block jslinks %}
{% endblock %}
