{% extends 'base.html' %}

{% block title %}
<title>Shrimp</title>
{% load static %}
<link rel="stylesheet" href="{% static 'votingsystem/login.css' %}" type="text/css">
{% endblock %}

{% block body %}
<div class="background-c">
<h1 class="title"> Log In</h1>
<form class="register-form" action='' method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p><input class="submit-button" type="submit" value="Log In"></p>
    <a href="/"class="goback">Go back</a>
</form>
</div>
{% endblock %}


{% block jslinks %}
<!--Add this file -->
<script type="text/javascript" src="{% static 'votingsystem/login-jquery.js' %}"></script>

{% endblock %}
