{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% load static %}
<link rel="stylesheet" href="{% static 'votingsystem/style.css' %}" type="text/css">
{% endblock %}


{% block body %}
<h1>Welcome home {{ user.first_name }}</h1>
<a href="edit"> <p>Edit Profile here</p></a>

  <h2>Add ToDo</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add</button>
    </form>

<ul>
    {% for todo in todos %}
    <li> Name: {{ todo.name }} , Note: {{ todo.note }}</li>
    {% endfor %}
</ul>
{% endblock %}