{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% load static %}
<link rel="stylesheet" href="{% static 'votingsystem/style.css' %}" type="text/css">
{% endblock %}


{% block body %}
<div class='container'>
  <h1 id="welcome">Welcome home {{ user.first_name }}</h1>
  <h2>Add Folder</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
  </form>
  <ul>
    {% for folder in folders %}
    <h2> Folder <a href="add-todo/{{ folder }}">+</a> </h2>
    <li>Name: {{ folder.name }} </li>
    <ul>
      {% for todo in folder.todo.all %}
      <li>Name : {{ todo.name }} </li>
      <li>Note : {{ todo.note }} </li>
      {% endfor %}
    </ul>
    <li> Description: {{ folder.description }} </li>
    {% endfor %}
  </ul>
</div>



{% endblock %}
